body{  
    background-color: rgba(161, 217, 238, 0.5);
    padding: 1%;
    margin: 2%;
}


img {
    image-rendering: 1400px;
    max-width: 100%;
    max-height: 15%;
    padding: 1%;
}

h1 {
    font-family: "Montserrat";
    font-size: 4 rem;
    padding-left: 2%;
  }
