

html {
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

  .userLocationClass {
  display: flex;
  margin: 5px;
  border-radius: 2px;
  width: 520px;
  opacity: .8;
}
.mainDropdownTitle {
  font-size: 3rem;
}
h1 {
  text-align: left;
  padding-top: 10px;
  margin-left: 30px;
  font-weight: bold;


}
/* h2 {
  text-align: left;
  margin-left:30px;
  padding: 5px;
  font-weight: bold;
} */

p {
  text-align: left;
  margin-left:30px;
  padding: .5px;
  font-size: large;
}

li {
font-weight: bold;
}
h2 {
  margin-left: 23%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
a {
  color: black;
  font-size: 1rem;
  font-family: "Montserrat";
}
a:hover {
  color: #98CEAC;
}
span {
  font-size: 3.5rem;
  color: #98CEAC;

}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
  appearance: none;
  overflow: hidden;
}

.fit-picture1 {
  margin-left: 25%;
  
}
.fit-picture2 {
  margin-left: 25%;
}
.fit-picture3 {
  margin-left: 25%;
}
h3{
  margin: 30px;
  font-weight: bold;
}
h5 {
  margin-left: 25%;
  padding-bottom: 15px;
  font-weight: bold;
}

li {
  list-style-type: none;
  position: relative;
}
.formContainer {
  display: flex;
  padding: 1px;
  flex-basis: auto;
  align-content: center;
}
form{
  display: flex;
  align-self: center;
  padding: 5px;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.imgContainer {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 60px auto 10px auto;
  /* background: url(../IMG/cityShot.jpg); */
  background: url(../IMG/cityShot2.jpg);
  height: 80vh;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .9;

}
img {
  max-width: 100%;
  height: auto%;
  object-fit: fill;
}

.accordian-item {
  color: white;
  text-decoration: none;
}
/* ul {
  position: absolute;
  z-index: 1000;
} */
.dropDownMenuTitle {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  justify-items: center;
  color: black;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  padding: 13px;
  font-size: 3rem;
}
.dropdownContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  overflow: visible;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}
.weatherBox {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: hsla(240, 100%, 20%, 0.09);
  border-radius: 5px;
  font-size: 1.5rem;
  align-items: center;
  font-family: 'Montserrat';
  width: 50%;
  height: auto;
  margin: auto;

}
.button {
  display: flex;
  border-radius: 2px;
  align-self: baseline;
  height: 39px;
  background-color: #98CEAC;
  /* background-color: #b2e4f3; */
  font-family: 'Montserrat';
}
.siteName {
  font-family: "Montserrat";
  align-self: baseline;
  font-weight: 900;
  padding-left: 250px;
  font-size: 5rem;
  color: white;

}
::placeholder {
  font-family: 'Montserrat';
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsla(240, 100%, 20%, 0.09);
  align-items: center;
  border-radius: 5px;
  width: 50%;
  height: fit-content;
  margin: 10px auto 10px auto;

}
body {
  margin-bottom: 200px;
  height: auto;
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19, #edfff6), color-stop(0.87, #b2e4f3)); */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19, #DAE2F8), color-stop(0.87, #D6A4A4));

}






@media only screen and (max-width: 600px) {
  .userLocationClass {
    display: flex;
    margin: 5px;
    border-radius: 2px;
    width: 200px;
    opacity: .8;
  }
  .siteName {
    font-family: "Montserrat";
    align-self: center;
    padding-left: 0px;
    font-size: 4rem;
    color: white;
  }
  .weatherBox {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: hsla(240, 100%, 20%, 0.09);
    border-radius: 5px;
    font-size: 1.5rem;
    align-items: center;
    font-family: 'Montserrat';
    width: 100%;
    height: auto;
    /* margin: 0px auto 0px auto; */
  
  }
  .dropdownContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: space-between; */
  }
  .results {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsla(240, 100%, 20%, 0.09);
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    margin: 10px auto;
  
  }
}
.weatherBoxClass {
  width: 70%;
  height: auto;
  margin: 0px auto 50px auto;
}
#hidden {
  display: none;
}


a:after {
  content: none!important;
};
@media only screen and (max-width: 850px) {
  .userLocationClass {
    display: flex;
    margin: 5px;
    border-radius: 2px;
    width: 200px;
    opacity: .8;
  }
  .results {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsla(240, 100%, 20%, 0.09);
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    margin: 10px auto;
  
  }
  .weatherBox {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: hsla(240, 100%, 20%, 0.09);
    border-radius: 5px;
    font-size: 1.5rem;
    align-items: center;
    font-family: 'Montserrat';
    width: 100%;
    max-height: auto;
    /* margin: 0px auto 50px auto; */
  
  }
  .weatherBoxClass {
    width: 70%;
    height: auto;
    margin: 0px auto 50px auto;
  }
  .dropdownContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: space-between; */
  }
  .siteName {
    font-family: "Montserrat";
    align-self: center;
    padding-left: 0px;
    font-size: 4rem;
    color: white;
  }
}

#hidden {
  display: none;
}